.header__container{
    background-color: white;
    border: 1px solid #eee;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
}
.header-title{
    justify-content: center;
}

.img__header{
    cursor: pointer;
}
.message-hovered__block:hover>.on_hover{
    opacity: 1;
}
.message-hovered__block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
}

.on_hover{
    opacity: 0;
    position: absolute;
    padding: 10px!important;
    cursor: pointer;
    transform: translateX(-70px);
}